<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Ruby Live</string>
	<key>ordering</key>
	<array>
		<string>AFCF1894-3D31-4B39-ADF4-AAF868163614</string>
		<string>74FFF721-29F0-44B5-993E-D2F30EFE29CD</string>
		<string>5ACD38D8-682A-4E3E-BFC6-FF8005D91069</string>
		<string>E6569DD2-3A1F-408F-8172-272E77EF8D96</string>
		<string>0232DA0D-F080-4BAF-92DC-6B20F76D4525</string>
	</array>
	<key>uuid</key>
	<string>848B4C08-D8D8-4863-A95B-570C3BC6F85B</string>
</dict>
</plist>
